<!DOCTYPE html>
<html>
  <head>
    <title>Movie</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/javascripts/flowplayer-6.0.5/skin/minimalist.css">
    <script src="/javascripts/jquery-1.11.2.js"></script>
    <script src="/javascripts/flowplayer-6.0.5/flowplayer.min.js"></script>
  </head>
  <body>
    <h1>Test video</h1>
    <div class="flowplayer">
      <video>
        <source type="video/mp4"
                src="/testFile">
      </video>
    </div>

    <!--<video controls="true" preload="none">
      <source src="/testFile" type="video/mp4"/>
    </video>-->
  </body>
</html>